.create {
    display: flex;
    flex-direction: column;
}

.create-form {
    width: 400px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.btn-fill {
    padding: 20px;
    margin-top: 20px;
}

.title {
    border: none;
    outline: none;
    padding: 15px 10px;
    border-radius: 5px;
    font-size: 20px;
}

form textarea {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    font-size: 15px;
}

.file {
    margin-top: 15px;
}

.category-picker {
    border: none;
    outline: none;
    margin: 10px 0;
    padding: 10px;
    font-size: medium;
    background-color: white;
}

.category-item {
    font-size: medium;
}