.details {
    max-width: 1200px;
    margin: auto;
}

.details img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.details h1 {
    font-size: 60px;
    margin-top: 10px;
}

.details p {
    line-height: 1.5;
    text-align: justify;
}

.date-fav {
    display: flex;
    align-items: center;
}

.date-fav img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 5px;
    margin: 0 5px;
}

.date-fav img:hover {
    background-color: white;
}